body {
  background-color: black;
}

.container {
  text-align: center;
  margin: 5rem 15rem;
  border-radius: 4px;
  background-color: #1f2937;
}

.heading {
  background-color: #3a69d2;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
}

h1 {
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

h3 {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.content {
  padding: 0rem 2rem;
}
.buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  background-color: #d1d4f4;
  border-radius: 7px;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #4a4e74;
}

.task-list {
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-align: left;
}

.task-list p {
  font-size: 12px;
  color: #d5d4d8;
}

.wash {
  line-height: 20px;
  font-size: 20px;
  padding-bottom: 1rem;
}

hr {
  width: 100%;
  color: #f5f5f5;
  opacity: 50%;
}

.notes,
.invoice-total {
  text-align: left;
  color: #d5d4d8;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;

  line-height: 15px;
}

.invoice-total {
  text-align: right;
}
.task-container,
.final-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.invoice-item {
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #d5d4d8;
}

.invoice-figure {
  line-height: 20px;
  font-size: 20px;
  padding-bottom: 1rem;
}

.invoice-total-num {
  font-size: 36px;
  line-height: 36px;
}

.invoice-btn {
  width: 80%;
  background-color: #3a69d2;
  color: white;
  font-size: 16px;
}
